@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Webpage";
}


<h1>Brooke</h1>
<div class="picture">
    <img src="img/concert.jpg"/>
    <p>I really like going to concerts. This is me and some of my friends after a concert at Kilby Court in SLC.</p>
</div>
<p> In this class, IS 413: Enterprise Application Development, I am hoping to broaden my understanding of using technology in the business world. While my previous coding classes helped me build problem solving skills and learn the basics of coding, I am hoping this class will help me learn how to apply these skills and knowledge to the work place. I am also excited to learn how to be as cool as Spencer Hilton, which will almost certainly be a byproduct of this class. Brooke out.</p>
<ul>
    <li>
        Web Developer
    </li>
    <li>
        Software Developer
    </li>
    <li>
        Technology Consultant
    </li>
</ul>



