<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <!--razor code-->
    <title>@ViewData["Title"]</title>
    <link href="~/startbootstrap-freelancer-gh-pages/css/styles.css" rel="stylesheet" />
    <link href="~/startbootstrap-freelancer-gh-pages/css/mystyles.css" rel="stylesheet" />
 
    <link rel="icon" type="image/x-icon" href="~/img/squidward.png">
</head>
<body>
    <nav>

        <a asp-controller="blah" asp-action="Index">Home</a>
        <a asp-controller="blah" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <!--load the css, js and jquery for every page-->
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/startbootstrap-freelancer-gh-pages/js/scripts.js"></script>
    <script src="~/js/gradeCalculator.js"></script>

</body>
</html>
